@import url("https://fonts.googleapis.com/css2?family=Monofett&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

/* Variables for color */
:root {
--purple: #011827;
}


/* For resetting default styling */
* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

body {
  font-family: "Roboto", sans-serif;
}

/* ███████████████ HEADER ███████████████ */

header {
  height: 144px;
  background-color: var(--purple);
  color: white;
  padding-top: 26px;
  display: flex;
}

.logo {
  display: block;
  height: 82px;
  width: 128px;
  font-family: "Monofett", monospace;
  font-size: 40px;
  color: white;
  border: solid 6px white;
  border-radius: 17px;
  margin: 0px 0 0 27px;
  padding: 26px 0px 5px 5px;
}

header h1 {
  width: 78px;
  height: 84px;
  font-size: 24px;
  font-weight: 700;
  margin-left: 13px;
}

nav {
  display: none;
}



/* ███████████████ MAIN ███████████████ */
.topImage {
  /* max-width: 480px; */
  width: 100%;
}

/* ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒ BUTTON BAR ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒ */
.onsiteBtn {
  margin: 36px auto 0 auto;
  display: block;
  width: 308px;
  height: 66px;
  font-weight: 700;
  font-size: 24px;
  color: rgba(1, 24, 39, 1);
  background: rgba(138, 207, 229, 1);
  border-radius: 4px;
}

.onlineBtn {
  margin: 30px auto 0 auto;
  display: block;
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
  color: rgba(54, 118, 157, 1);
  background-color: inherit;
}

/*  ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒ QUOTES ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒ */

/* ░░░░░░░░░░░░░░░ QUOTE 1 ░░░░░░░░░░░░░░░ */
.quote1 {
  display: flex;
  margin-top: 70px;
}

.quote1__head {
  margin: 0 0 0 21px;
  width: 73px;
  height: 72px;
}

.quote1__texts {
    /* display: flex;
    flex-direction: column; */
}

.quote1__quoteText {
  margin-left: 22px;
  margin-right: 25px;
  font-style: italic;
  font-size: 24px;
}

.quote1__name {
     margin-left: 21px;
     margin-top: 4px;
     font-size: 18px;
}

/* ░░░░░░░░░░░░░░░ QUOTE 2 ░░░░░░░░░░░░░░░ */
.quote2 {
  display: none;
}

/* ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒ POPULAR CHALLENGES ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒ */
.popularChallenges {
  margin-top: 105px;
}

.popularChallenges__title {
    font-size: 32px;
    text-align: center;
}
