/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Monofett&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  /* Variables for color */
  --purple: #011827;
  --red: rgba(227, 23, 10, 1);
  --blue: rgba(138, 207, 229, 1);
  /* Variables for media queries */
  --medium: 800;
}

/* Initial styling and reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}
li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: var(--blue);
}
/* Unnecessary? */
img {
  display: block;
  width: 100%;
}

button {
  margin: 0 auto 0 auto;
  display: block;
  width: 308px;
  height: 66px;
  font-weight: 700;
  font-size: 24px;
  max-width: 80%;
  border-radius: 4px;
}
button:hover {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
}

/* ███████████████ HEADER ███████████████ */

header {
  height: 144px;
  background-color: var(--purple);
  color: white;
  padding-top: 26px;
}
@media screen and (min-width: 800px) {
  header {
    height: 216px;
  }
}

header div {
  display: flex;
}

.logo {
  height: 82px;
  width: 128px;
  font-family: "Monofett", monospace;
  font-size: 40px;
  border: solid 6px;
  border-radius: 17px;
  margin: 0px 0 0 27px;
  padding: 26px 0px 5px 5px;
}

header h1 {
  width: 78px;
  font-size: 24px;
  font-weight: 700;
  margin-left: 13px;
}
@media screen and (min-width: 800px) {
  header h1 {
    font-size: 40px;
    width: fit-content;
    margin: 35px 0 0 24px;
  }
}

.navBar {
  display: none;
}
@media screen and (min-width: 800px) {
  .navBar {
    display: block;
  }
}

.navBar__list {
  margin-top: 58px;
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 58px auto 0 auto;
}

.navBar__list li {
  font-size: 24px;
  font-weight: 700;
}

/* ███████████████ MAIN ███████████████ */
.topImage {
  margin-bottom: 36px;
}
@media screen and (min-width: 800px) {
  .topImage {
    height: 38vw;
    min-height: 450px;
    object-fit: cover;
    object-position: center;
  }
}

/* ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒ BUTTON BAR ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒ */
.buttons__onsiteBtn {
  color: var(--purple);
  background: var(--blue);
  margin-top: 25px;
}

.buttons__onlineBtn {
  margin: 10px auto 0 auto;
  display: block;
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
  color: rgba(54, 118, 157, 1);
  background-color: inherit;
}

@media screen and (min-width: 800px) {
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  .translateBtn {
    transform: translateY(-65px);
    margin-bottom: -30px;
  }
  .buttons__onsiteBtn {
    margin: 0 auto 0 8.5px;
    order: 2;
  }
  .buttons__onlineBtn {
    margin: 0 8.5px 0 auto;
    font-size: 24px;
    text-decoration: none;
    color: white;
    background-color: var(--red);
    order: 1;
  }
}

/*  ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒ QUOTES ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒ */

/* ░░░░░░░░░░░░░░░ QUOTE 1 ░░░░░░░░░░░░░░░ */
.quote {
  display: flex;
  margin-top: 50px;
}

.quote__head {
  margin: 0 0 0 21px;
  width: 73px;
  height: 72px;
}

.quote__quoteText {
  margin-left: 22px;
  margin-right: 25px;
  font-style: italic;
  font-size: 24px;
}

.quote__name {
  margin-left: 21px;
  margin-top: 4px;
  font-size: 18px;
}
@media screen and (min-width: 800px) {
  .quotes {
    display: flex;
    width: 87%;
    margin: 0 auto;
  }
  .quote {
    margin-top: 70px;
  }
  .quote__head {
    width: 96px;
    height: 96px;
  }
  .quote__name {
    margin-top: 14px;
    max-width: 300px;
  }
}

/* ░░░░░░░░░░░░░░░ QUOTE 2 ░░░░░░░░░░░░░░░ */
.quote2 {
  display: none;
}
@media screen and (min-width: 800px) {
  .quote2 {
    display: flex;
    margin-top: 70px;
  }
}

/* ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒ POPULAR CHALLENGES ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒ */
.popularChallenges__title {
  margin: 105px 20px 0 20px;
  font-size: 32px;
  text-align: center;
}
@media screen and (min-width: 800px) {
  .popularChallenges__title {
    font-size: 36px;
  }
}

.popularChallenges {
  padding-bottom: 19px;
  padding-left: 10%;
  padding-right: 2%;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
@media screen and (min-width: 800px) {
  .popularChallenges {
    width: fit-content;
    overflow-x: auto;
    padding-left: 0px;
    padding-right: 0px;
    justify-content: space-evenly;
    margin: 0 0px 0 10px;
  }
}
.popularChallenges__challenge {
  width: 85%;
  max-width: 400px;
  flex: none;
  margin: 44px 9% 0 0px;
  border: 0px solid white;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  scroll-snap-align: center;
}
@media screen and (min-width: 800px) {
  .popularChallenges__challenge {
    max-width: 29%;
    margin: 87px 10px 77px 0px;
  }
}

.popularChallenges__challenge__img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.popularChallenges__challenge__lowerWrapper {
  margin: 0px auto;
  padding-left: 17px;
  padding-bottom: 12px;
}

.popularChallenges__challenge__title {
  margin-top: 12px;
  font-size: 28px;
}

.popularChallenges__challenge__rating {
  display: flex;
}



.popularChallenges__challenge__rating__stars {
  display: flex;
}

.popularChallenges__challenge__rating__stars i {
  display: block;
  width: 23px;
  margin-right: 3px;
  background-repeat: no-repeat;
}
.star--filled {
  background: url(img/filledStar.png);
}
.star--empty {
  background: url(img/emptyStar.png);
}

.popularChallenges__challenge__rating__participants {
  display: inline;
  font-size: 14px;
  margin-left: 10px;
}
@media screen and (min-width: 800px) {
  .popularChallenges__challenge__rating__participants {
    margin-right: 11px;
    margin-left: auto;
  }
}

.popularChallenges__challenge__text {
  margin-top: 23px;
  margin-right: 10px;
  font-size: 18px;
}

.popularChallenges__challenge__button {
  margin-top: 25px;
  margin-right: 17px;
  width: 180px;
  height: 44px;
  background-color: var(--red);
  /* border-radius: 8px; HUUUUUUH!? */
  color: white;
  font-size: 16px;
}

/* ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒ BUTTON BAR ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒ */

/* ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒ OUR STORY ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒ */
.ourStory {
  color: white;
  margin-top: 56px;
  padding-top: 95px;
  padding-bottom: 91px;
  background-color: var(--purple);
}
.ourStory__text {
  font-size: 28px;
  text-align: center;
  margin: 0 20px;
}

.ourStory__btn {
  margin-top: 60px;
  background-color: var(--purple);
  color: var(--blue);
  border: 2px solid var(--blue);
}
@media screen and (min-width: 800px) {
  .ourStory {
    margin-top: 87px;
    height: 500px;
    padding-top: 123px;
  }
  .ourStory__text {
    display: block;
    width: 48%;
    margin: 0 auto;
  }
  .ourStory__btn {
    margin-top: 42px;
  }
}

/* ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒ PLAY WITH FRIENDS AND ONLINE ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒ */
.playWithFriendsAndOnline section {
  padding: 0 20px 64px 20px;
}

.playWithFriendsAndOnline h3 {
  margin-top: 30px;
  font-size: 32px;
  font-weight: 700;
}
.playWithFriendsAndOnline p {
  margin-top: 40px;
  font-size: 24px;
}
.playWithFriendsAndOnline button {
  background-color: var(--red);
  margin-top: 50px;
  margin-left: 0;
  color: white;
}
@media screen and (min-width: 800px) {
  .playWithFriendsAndOnline {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 37.5vw 37.5vw;
    margin-bottom: 183px;
  }
  .playWithFriendsAndOnline img {
    height: 100%;
    object-fit: cover;
  }
  .imgAbovePlayWithFriends {
    grid-column: 1 / 2;
  }
  .imgAbovePlayOnline {
    grid-column: 2 / 3;
  }
  .playOnline {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .playWithFriendsAndOnline section {
    width: 65%;
    margin: auto;
    padding: 0;
  }
  .playWithFriendsAndOnline h3 {
    margin-top: 0;
  }
  .playWithFriendsAndOnline p {
    margin-top: 25px;
    font-size: 24px;
  }
  .playWithFriendsAndOnline button {
    background-color: var(--red);
    margin-top: 25px;
    margin-left: 0;
    color: white;
  }
}

/* ███████████████ FOOTER ███████████████ */

footer {
  background-color: var(--purple);
  margin-top: 38px;
  color: white;
  padding: 64px 20px 70px 20px;
  font-size: 18px;
}

.footerTitle {
  font-weight: 700;
}

.footerText {
  margin-top: 7px;
}

.links__title {
  margin-top: 40px;
  font-size: 18px;
  font-weight: 700;
}
.links__list {
  margin-top: 7px;
}

.followUs__title {
  margin-top: 47px;
  font-weight: 700;
}
.followUs__list {
  margin-top: 7px;
}
@media screen and (min-width: 800px) {
  footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 146px 0 174px 0;
  }

  .footerTitle {
    width: 65%;
    margin: 0 auto;
  }

  .footerText {
    margin: 0 auto;
    width: 65%;
    margin-top: 7px;
    grid-column: 1;
  }
  .links__title {
    margin-top: 0px;
    grid-row: 1;
    grid-column: 2;
    width: 40%;
    margin: 0 auto;
  }
  .links__list {
    width: 40%;
    margin: 7px auto 0 auto;
  }

  .followUs__title {
    grid-column: 3;
    grid-row: 1;
    margin-top: 0px;
  }
  .followUs__list {
  }
}
