/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Monofett&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

/* Variables for color */
:root {
  --purple: #011827;
  --red: rgba(227, 23, 10, 1);
  --blue: rgba(138, 207, 229, 1);
}

/* Initial styling and reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}
li {
  list-style: none;
}

/* Unnecessary? */
img {
  display: block;
  width: 100%;
}

button {
  margin: 0 auto 0 auto;
  display: block;
  width: 308px;
  height: 66px;
  font-weight: 700;
  font-size: 24px;
  max-width: 80%;
  border-radius: 4px;
}

body {
  font-family: "Roboto", sans-serif;
}

/* ███████████████ HEADER ███████████████ */

header {
  height: 144px;
  background-color: var(--purple);
  color: white;
  padding-top: 26px;
  display: flex;
}

.logo {
  height: 82px;
  width: 128px;
  font-family: "Monofett", monospace;
  font-size: 40px;
  border: solid 6px;
  border-radius: 17px;
  margin: 0px 0 0 27px;
  padding: 26px 0px 5px 5px;
}

header h1 {
  width: 78px;
  height: 84px;
  font-size: 24px;
  font-weight: 700;
  margin-left: 13px;
}

nav {
  display: none;
}

/* ███████████████ MAIN ███████████████ */
.topImage {
  margin-bottom: 36px;
}

/* ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒ BUTTON BAR ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒ */
.onsiteBtn {
  color: var(--purple);
  background: var(--blue);
  margin-top: 25px;
}

.onlineBtn {
  margin: 10px auto 0 auto;
  display: block;
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
  color: rgba(54, 118, 157, 1);
  background-color: inherit;
}

/*  ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒ QUOTES ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒ */

/* ░░░░░░░░░░░░░░░ QUOTE 1 ░░░░░░░░░░░░░░░ */
.quote1 {
  display: flex;
  margin-top: 50px;
}

.quote1__head {
  margin: 0 0 0 21px;
  width: 73px;
  height: 72px;
}

.quote1__quoteText {
  margin-left: 22px;
  margin-right: 25px;
  font-style: italic;
  font-size: 24px;
}

.quote1__name {
  margin-left: 21px;
  margin-top: 4px;
  font-size: 18px;
}

/* ░░░░░░░░░░░░░░░ QUOTE 2 ░░░░░░░░░░░░░░░ */
.quote2 {
  display: none;
}

/* ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒ POPULAR CHALLENGES ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒ */
.popularChallenges__title {
  margin: 105px 20px 0 20px;
  font-size: 32px;
  text-align: center;
}

.popularChallenges {
  padding-bottom: 19px;
  padding-left: 10%;
  padding-right: 2%;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.popularChallenges__challenge {
  width: 85%;
  max-width: 400px;
  flex: none;
  margin: 44px 9% 0 0px;
  border: 0px solid white;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  scroll-snap-align: center;
}

.popularChallenges__challenge__img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.popularChallenges__challenge__lowerWrapper {
  margin: 0px auto;
  padding-left: 17px;
  padding-bottom: 12px;
}

.popularChallenges__challenge__title {
  margin-top: 12px;
  font-size: 28px;
}

.popularChallenges__challenge__rating {
  display: flex;
}

.popularChallenges__challenge__rating__stars {
  display: flex;
}

.popularChallenges__challenge__rating__stars i {
  display: block;
  width: 23px;
  margin-right: 3px;
  background-repeat: no-repeat;
}
.star--filled {
  background: url(img/filledStar.png);
}
.star--empty {
  background: url(img/emptyStar.png);
}

.popularChallenges__challenge__rating__participants {
  display: inline;
  font-size: 14px;
  margin-left: 10px;
}

.popularChallenges__challenge__text {
  margin-top: 23px;
  margin-right: 10px;
  font-size: 18px;
}

.popularChallenges__challenge__button {
  margin-top: 25px;
  margin-right: 17px;
  width: 180px;
  height: 44px;
  background-color: var(--red);
  /* border-radius: 8px; HUUUUUUH!? */
  color: white;
  font-size: 16px;
}

/* ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒ BUTTON BAR ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒ */

/* ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒ OUR STORY ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒ */
.ourStory {
  color: white;
  margin-top: 56px;
  padding-top: 95px;
  padding-bottom: 91px;
  background-color: var(--purple);
}

.ourStory__text {
  font-size: 28px;
  text-align: center;
  margin: 0 20px;
}

.ourStory__btn {
  margin-top: 60px;
  background-color: var(--purple);
  color: var(--blue);
  border: 2px solid var(--blue);
}

/* ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒ PLAY WITH FRIENDS AND ONLINE ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒ */
.playWithFriendsAndOnline section {
  padding: 0 20px 64px 20px;
}

.playWithFriendsAndOnline h3 {
  margin-top: 30px;
  font-size: 32px;
  font-weight: 700;
}
.playWithFriendsAndOnline p {
  margin-top: 40px;
  font-size: 24px;
}
.playWithFriendsAndOnline button {
  background-color: var(--red);
  margin-top: 50px;
  margin-left: 0;
  color: white;
}


/* ███████████████ FOOTER ███████████████ */

footer {
  background-color: var(--purple);
  margin-top: 38px;
  color: white;
  padding: 64px 20px 70px 20px;
  font-size: 18px;
}

.footerTitle {
  font-weight: 700;
}

.footerText {
  margin-top: 7px;
}

.links {
}

.links__title {
  margin-top: 40px;
  font-size: 18px;
  font-weight: 700;
}
.links__list {
  margin-top: 7px;
}

.followUs {
}
.followUs__title {
  margin-top: 47px;
  font-weight: 700;
}
.followUs__list {
  margin-top: 7px;
}
